.grid-s5m0e5 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.grid-s5m0e5 .col-main {
    float: left;
    width: calc(100% - 400px);
    margin-left: 200px;
    margin-right: 200px;
    min-height: 300px;
    background: #ffffff;
}


.col-sub {
    float: left;
    width: 190px;
    min-height: 30px;
    background: #ff0000;
    /* 浮动情况下，负边界值会导致DIV上移，
    而使用-100%可以确实它移动到最左侧 */
    margin-left: -100%;
}

.col-extra {
    float: left;
    width: 190px;
    min-height: 30px;
    background: #0000ff;
    /* 道理同上，注意的是，负左边界一定要大于或等于该DIV的宽度，
    才能靠到上一行去 */
    margin-left: -190px;
}