header a {
  color: #666666;
}
.mui-bar {
  background-color: #4d97e4;
}

.mui-bar .mui-icon {
  font-size: 20px;
  position: relative;
  z-index: 20;
  padding-top: 1px;
  padding-bottom: 0;
  line-height: 44px;
}

.mui-bar-nav {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  z-index: 200;
}

.mui-content > .mui-table-view:first-child {
  margin-top: 12px;
}

.mui-content .mui-navigate-right:after {
  font-family: "iconfont";
  right: 15px;
  content: "\e610";
  color: #c5c5c5;
}

.mui-content .mui-table-view-radio .mui-navigate-right:after {
  font-family: "Muiicons" !important;
}

.mui-popover.mui-popover-action {
  background: #ffffff !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mui-badge {
  font-size: 15px;
  line-height: 1;
  display: inline-block;
  padding: 3px 6px;
  color: #333;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
}

.mui-table-view-cell > .mui-btn,
.mui-table-view-cell > .mui-badge,
.mui-table-view-cell > .mui-switch,
.mui-table-view-cell > a > .mui-btn,
.mui-table-view-cell > a > .mui-badge,
.mui-table-view-cell > a > .mui-switch {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mui-table-view-cell > .mui-switch {
  z-index: -1000;
  visibility: hidden;
}

.mui-table-view-cell .mui-navigate-right > .mui-btn,
.mui-table-view-cell .mui-navigate-right > .mui-badge,
.mui-table-view-cell .mui-navigate-right > .mui-switch,
.mui-table-view-cell .mui-push-left > .mui-btn,
.mui-table-view-cell .mui-push-left > .mui-badge,
.mui-table-view-cell .mui-push-left > .mui-switch,
.mui-table-view-cell .mui-push-right > .mui-btn,
.mui-table-view-cell .mui-push-right > .mui-badge,
.mui-table-view-cell .mui-push-right > .mui-switch,
.mui-table-view-cell > a .mui-navigate-right > .mui-btn,
.mui-table-view-cell > a .mui-navigate-right > .mui-badge,
.mui-table-view-cell > a .mui-navigate-right > .mui-switch,
.mui-table-view-cell > a .mui-push-left > .mui-btn,
.mui-table-view-cell > a .mui-push-left > .mui-badge,
.mui-table-view-cell > a .mui-push-left > .mui-switch,
.mui-table-view-cell > a .mui-push-right > .mui-btn,
.mui-table-view-cell > a .mui-push-right > .mui-badge,
.mui-table-view-cell > a .mui-push-right > .mui-switch {
  right: 35px;
  font-size: 14px;
  color: #999999;
}

.mui-table-view-cell .mui-navigate-right > .mui-badge img {
  width: 45px;
  height: 45px;
  padding: 8px;
  margin-right: -8px;
}

.mui-table-view {
  margin-top: 12px;
}

.ui-tishi {
  padding: 5px 0 0 15px;
  font-size: 14px;
}

.mui-backdrop-action.mui-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

button,
.mui-btn {
  border: 0;
  border-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.ui-dateok {
  padding: 11px 0;
}

.mui-table-view-cell {
  padding: 11px 15px;
  font-size: 16px;
  color: #333333;
}

.ui-siwtchlist .mui-table-view-cell:not(:first-child) a {
  padding-left: 30px;
}

.mui-table-view-cell > a:not(.mui-btn) {
  margin: -11px -15px;
  padding: inherit;
}

.ui-list-titile .mui-icon {
  position: absolute;
  top: 4px;
  right: 13px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0 !important;
  background-color: transparent;
  -webkit-appearance: none;
}

#TimeZone .ui-list-titile .mui-icon,
#VideoType .ui-list-titile .mui-icon {
  right: 5px;
}

.mui-icon-closeempty:before {
  font-family: Muiicons;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  color: #666666;
  border-radius: 0;
  background: none;
  -webkit-font-smoothing: antialiased;
}

.mui-navigate-right:after,
.mui-push-left:after,
.mui-push-right:after {
  font-size: 12px;
  font-weight: 600;
}

.mui-input-group .mui-input-row {
  height: 48px;
}

.ui-Gallery-item {
  height: 64px !important;
}

.mui-input-row label {
  padding: 15px 15px;
  font-size: 16px;
  height: 100%;
}

.mui-input-row.ui-Gallery-item span {
  float: left;
  height: 100%;
  padding: 0 0 0 15px;
  line-height: 64px;
}

.ui-Gallery-txt {
  padding-left: 11px !important;
}

.mui-radio input[type="radio"],
.mui-checkbox input[type="checkbox"] {
  top: 11px;
  width: 25px;
  height: 25px;
}

.ui-Gallery-item input[type="checkbox"] {
  top: 19px;
}

.mui-radio input[type="radio"]:before,
.mui-checkbox input[type="checkbox"]:before {
  font-size: 25px;
}

.mui-checkbox img {
  float: left;
  height: 100%;
  padding: 5px 0;
  padding-top: 4px;
}

.ui-list-titile.mui-checkbox input[type="checkbox"]:checked:before {
  content: "\e441";
}

.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 12px;
  height: 1px;
  content: "";
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background-color: #d8d8d8;
}

.mui-popover .mui-table-view:before,
.mui-popover .mui-table-view:after {
  right: 0;
  background-color: #d8d8d8;
}

.mui-popover .mui-table-view .mui-table-view-cell:last-child,
.mui-popover .mui-table-view .mui-table-view-cell:last-child > a:not(.mui-btn),
.mui-popover .mui-table-view .mui-table-view-cell:first-child,
.mui-popover
  .mui-table-view
  .mui-table-view-cell:first-child
  > a:not(.mui-btn) {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.mui-input-group .mui-input-row.ui-list-titile:after {
  left: 0;
}

.ui-list-container {
  position: relative;
}

.ui-radio-list .ui-list-titile .mui-icon {
  right: 5px;
}

.ui-devicereboot {
  display: inline-block;
  width: 100%;
  color: #fd3a3c;
  text-align: center;
  font-size: 17px;
}

.ui-switch-item {
  padding-left: 30px;
}

.mui-table-view-cell .ui-tip.mui-btn:enabled:active {
  background: transparent;
}

.ui-invisible {
  visibility: hidden;
  position: fixed;
  top: -200px;
}

.mui-content .ui-large-btn {
  color: #ffffff;
  border: 1px solid #50d0c1;
  height: 44px;
  border-radius: 22px !important;
  font-size: 16px;
  width: 80%;
}

.ui-center {
  text-align: center;
  margin-top: 30px;
}

/*多语言样式*/

.mainStyle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 50%;
  display: inline-block;
  height: 56px;
  line-height: 56px;
  position: absolute;
  top: 0px;
  left: 15px;
}

.mui-row .mui-table-view .mui-table-view-cell {
  height: 75px;
}

.mui-table-view-cell .mui-navigate-right > .mui-badge {
  width: 35%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: right;
  padding: 0;
  margin: 0;
  height: 43px;
  line-height: 43px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-left-30 {
  padding-left: 30px;
}

.private-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mui-radio,
.mui-checkbox {
  border-radius: 10px;
}

.mui-input-group {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mui-input-group:before {
  height: 0;
}

.loadFailed {
  width: 40%;
  text-align: right;
  position: absolute;
  height: 56px;
  line-height: 56px;
  top: 0;
  right: 0;
  padding-right: 30px;
  color: #999999;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mui-popover.mui-popover-action .mui-table-view {
  text-align: left;
}

.mui-switch.mui-active {
  border-color: #50d0c1;
  background-color: #50d0c1;
}

/*向上弹框样式处理*/

.mui-popover .mui-scroll-wrapper {
  margin-top: 0;
}

.mui-popover.mui-popover-action .mui-table-view {
  margin: 0 8px;
}

.mui-scroll .mui-table-view {
  margin-top: 0px;
}

/*上拉弹框增加滑动只是条*/

.mui-input-group:before {
  content: "";
  height: 8px;
  position: absolute;
  width: 12%;
  left: 44%;
  top: 5px;
  background: #d8d8d8;
  z-index: 1000;
  border-radius: 3px;
}

.no-title-popover .mui-input-row:first-child {
  margin-top: 20px;
}

.no-title-popover .mui-input-group:before {
  top: -10px;
}
/*居中按钮样式*/

.mid-btn {
  display: inline-block;
  width: 100%;
  color: #333333;
  text-align: center;
}
/*占位图通用样式*/
.full-occupation-bitmap {
  position: relative;
}
.full-occupation-bitmap-placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
}
.full-occupation-bitmap-placeholder img {
  width: 100%;
}
@media all and (orientation: landscape) {
  /*横屏*/
  .full-occupation-bitmap-placeholder-imgbox-noConfig {
    width: 30%;
    margin: 30px auto 0px auto;
  }
  .full-occupation-bitmap-placeholder-imgbox-loadFailed {
    width: 45%;
    margin: 0px auto 0px auto;
  }
}
@media all and (orientation: portrait) {
  /*竖屏*/
  .full-occupation-bitmap-placeholder-imgbox-noConfig {
    padding: 120px 100px 0px 100px;
  }
  .full-occupation-bitmap-placeholder-imgbox-loadFailed {
    padding: 50px 20px 0px 20px;
  }
  .full-occupation-bitmap-placeholder-imgbox-noSDCard {
    padding: 120px 60px 0px 60px;
  }
}
.full-occupation-bitmap-placeholder p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.7);
}

.ui-devicereboot-gray {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: rgba(51, 51, 51, 0.7) !important;
  font-size: 17px;
}
.twoRow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 将界面设置为圆角卡片样式 */
.mui-table-view {
  margin-top: 12px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 8px;
}

.mui-table-view-cell {
  padding: 18px 15px;
}

.mui-table-view .mui-table-view-cell {
  height: 56px;
}

.mui-table-view-cell:after {
  right: 15px;
  left: 15px;
  background-color: #c8c7cc80;
}

.left-text-right-swtich {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mui-table-view:before {
  height: 0px;
}

.mui-table-view:after {
  height: 0px;
}

.mui-table-view-cell > a:not(.mui-btn) {
  margin: -18px -15px;
}

/*检测栏图标样式*/
.mui-row {
  margin: 16px;
  border-radius: 8px;
  background-color: #fff;
}

.mui-row .mui-col-xs-3 .mui-table-view {
  border-radius: 16px;
  margin: 0px;
}

.mui-row .mui-col-xs-3 .mui-table-view .mui-table-view-cell {
  padding: 12px 15px;
}
