@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.ttf') format('truetype');
}
@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.woff') format('woff');
}
@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont_plus.ttf') format('truetype');
}
@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont_plus.woff') format('woff');	
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-affirm:before {
  content: "\e63c";
}

.icon-motion_eraser:before {
  content: "\e63d";
}

.icon-cross_ab:before {
  content: "\e63e";
}

.icon-add:before {
  content: "\e63f";
}

.icon-cross_b:before {
  content: "\e640";
}

.icon-delete_normal:before {
  content: "\e641";
}

.icon-motion_draw:before {
  content: "\e642";
}

.icon-cross_a:before {
  content: "\e643";
}

.icon-close:before {
	content: "\e604";
}

.icon-back2:before {
	content: "\e697";
}

.icon-more:before {
	content: "\e6a7";
}

.icon-save:before {
	content: "\e600";
}

.icon-clear:before {
	content: "\eadb";
}

.icon-iceditinfo:before {
	content: "\e622";
}

.icon-settings:before {
	content: "\e616";
}

.icon-back:before {
	content: "\e604";
}

.icon-delete:before {
	content: "\e603";
}

.icon-setting:before {
	content: "\e61d";
}

.icon-back1:before {
	content: "\e676";
}

.icon-check:before {
	content: "\e639";
}

.icon-ue60ddelete:before {
	content: "\e602";
}

.icon-edit:before {
	content: "\e68d";
}

.icon-settings-1:before {
	content: "\e618";
}

.icon-gengduo:before {
	content: "\e620";
}

.icon-zuo:before {
	content: "\e63c";
}

.icon-delete1:before {
	content: "\e617";
}

.icon-edit1:before {
	content: "\e60e";
}

.icon-edit2:before {
	content: "\e619";
}

.icon-settingwrenches:before {
	content: "\e62e";
}

.icon-fanhui:before {
	content: "\e606";
}

.icon-gengduo1:before {
	content: "\e607";
}

.icon-hand-pointer-o:before {
	content: "\e6af";
}

.icon-icon_delete:before {
	content: "\e626";
}

.icon-clear1:before {
	content: "\e633";
}

.icon--Hand-Cursor:before {
	content: "\e609";
}

.icon-editor-clean:before {
	content: "\e601";
}

.icon-clear_away:before {
	content: "\e605";
}

.icon-edit3:before {
	content: "\e60d";
}

.icon-settings-:before {
	content: "\e67a";
}

.icon-edit4:before {
	content: "\e7a0";
}

.icon-edit--outline:before {
	content: "\e614";
}

.icon-zuojiantou:before {
	content: "\e60f";
}

.icon-youjiantou:before {
	content: "\e610";
}