.mui-badge {
	font-size: 15px;
	line-height: 1;
	display: inline-block;
	padding: 3px 6px;
	color: #333;
	border-radius: 100px;
	background-color: rgba(0, 0, 0, 0);
}

.mui-table-view-cell>.mui-btn,
.mui-table-view-cell>.mui-badge,
.mui-table-view-cell>.mui-switch,
.mui-table-view-cell>a>.mui-btn,
.mui-table-view-cell>a>.mui-badge,
.mui-table-view-cell>a>.mui-switch {
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.mui-table-view-cell>.mui-switch {
	z-index: -1000;
	visibility: hidden;
}

.mui-table-view-cell .mui-navigate-right>.mui-btn,
.mui-table-view-cell .mui-navigate-right>.mui-badge,
.mui-table-view-cell .mui-navigate-right>.mui-switch,
.mui-table-view-cell .mui-push-left>.mui-btn,
.mui-table-view-cell .mui-push-left>.mui-badge,
.mui-table-view-cell .mui-push-left>.mui-switch,
.mui-table-view-cell .mui-push-right>.mui-btn,
.mui-table-view-cell .mui-push-right>.mui-badge,
.mui-table-view-cell .mui-push-right>.mui-switch,
.mui-table-view-cell>a .mui-navigate-right>.mui-btn,
.mui-table-view-cell>a .mui-navigate-right>.mui-badge,
.mui-table-view-cell>a .mui-navigate-right>.mui-switch,
.mui-table-view-cell>a .mui-push-left>.mui-btn,
.mui-table-view-cell>a .mui-push-left>.mui-badge,
.mui-table-view-cell>a .mui-push-left>.mui-switch,
.mui-table-view-cell>a .mui-push-right>.mui-btn,
.mui-table-view-cell>a .mui-push-right>.mui-badge,
.mui-table-view-cell>a .mui-push-right>.mui-switch {
	right: 35px;
	font-size: 14px;
	color: #999999;
}

.mui-table-view-cell .mui-navigate-right>.mui-badge img {
	width: 45px;
	height: 45px;
	padding: 8px;
	margin-right: -8px;
}

.mui-table-view {
	margin-top: 12px;
}

.ui-tishi {
	padding:5px 0 0 15px;
	font-size: 14px;
}

.mui-backdrop-action.mui-backdrop {
	background-color: rgba(0, 0, 0, .5);
}

button,
.mui-btn {
	border: 0;
	border-radius: 0 !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.ui-dateok {
	padding: 11px 0;
}

.ui-dateok,
.mui-table-view-radio .mui-table-view-cell .mui-navigate-right:after,
.mui-radio input[type='radio']:checked:before,
.mui-checkbox input[type='checkbox']:checked:before {
	color: #50d0c1;
}

.mui-table-view-cell {
	padding: 11px 15px;
	font-size: 16px;
	color: #333333;
}

.ui-siwtchlist .mui-table-view-cell:not(:first-child) a {
	padding-left: 30px;
}

.mui-table-view-cell>a:not(.mui-btn) {
	margin: -10px -15px;
	padding: inherit;
}

.ui-list-titile .mui-icon {
	position: absolute;
	top: 4px;
	right: 13px;
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 0;
	outline: 0 !important;
	background-color: transparent;
	-webkit-appearance: none;
}

#TimeZone .ui-list-titile .mui-icon,
#VideoType .ui-list-titile .mui-icon {
	right: 5px;
}

.mui-icon-closeempty:before {
	font-family: Muiicons;
	font-size: 40px;
	font-weight: 500;
	line-height: 1;
	text-decoration: none;
	color: #666666;
	border-radius: 0;
	background: none;
	-webkit-font-smoothing: antialiased;
}

.mui-navigate-right:after,
.mui-push-left:after,
.mui-push-right:after {	
	font-size: 12px;
	font-weight: 600;
}

.mui-input-group .mui-input-row {
	height: 48px;
}

.ui-Gallery-item {
	height: 64px !important;
}

.mui-input-row label {
	padding: 15px 15px;
	font-size: 16px;
	height: 100%;
}

.mui-input-row.ui-Gallery-item span {
	float: left;
	height: 100%;
	padding: 0 0 0 15px;
	line-height: 64px;
}

.ui-Gallery-txt {
	padding-left: 11px !important;
}

.mui-radio input[type='radio'],
.mui-checkbox input[type='checkbox'] {
	top: 11px;
	width: 25px;
	height: 25px;
}

.ui-Gallery-item input[type='checkbox'] {
	top: 19px;
}

.mui-radio input[type='radio']:before,
.mui-checkbox input[type='checkbox']:before {
	font-size: 25px;
}

.mui-checkbox img {
	float: left;
	height: 100%;
	padding: 5px 0;
	padding-top: 4px;
}

.ui-list-titile.mui-checkbox input[type='checkbox']:checked:before {
	content: '\e441';
}

.mui-popover.mui-popover-action .mui-table-view {
	margin: 0px;
	text-align: left;
	color: #50d0c1;
	border-radius: 0px;
	background-color: #ffffff;
}

.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 12px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #d8d8d8;
}

.mui-popover .mui-table-view:before,
.mui-popover .mui-table-view:after {
	right: 0;
	background-color: #d8d8d8;
}

.mui-popover .mui-table-view .mui-table-view-cell:last-child,
.mui-popover .mui-table-view .mui-table-view-cell:last-child>a:not(.mui-btn),
.mui-popover .mui-table-view .mui-table-view-cell:first-child,
.mui-popover .mui-table-view .mui-table-view-cell:first-child>a:not(.mui-btn) {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.mui-input-group .mui-input-row.ui-list-titile:after {
	left: 0;
}

.ui-list-container {
	position: relative;
}

.ui-radio-list .ui-list-titile .mui-icon {
	right: 5px;
}

.ui-devicereboot {
	display: inline-block;
	width: 100%;
	color: #fd3a3c;
	text-align: center;
}

.ui-switch-item {
	padding-left: 30px;
}

.mui-table-view-cell .ui-tip {
	background: transparent;
	color: #50d0c1;
	width: 30%;
	height: 100%;
	text-align: right;
}

.mui-table-view-cell .ui-tip.mui-btn:enabled:active {
	background: transparent;
}

.ui-invisible {
	visibility: hidden;
	position: fixed;
	top: -200px;
}