/*底部工具条美化开始*/

.wapp-bar {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    bottom: 0;
    height: 45px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.wapp-bar-tab {
    bottom: 0;
    display: table;
    width: 100%;
    height: 45px;
    padding: 0;
    table-layout: fixed;
    border-top: 0;
    border-bottom: 0;
    -webkit-touch-callout: none;
}

.wapp-bar-tab .wapp-tab-item {
    display: table-cell;
    overflow: hidden;
    width: 1%;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wapp-bar-tab .wapp-tab-item button,
.wapp-bar-tab .wapp-tab-item button:enabled {
    top: 3px;
    width: 30px;
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    background-size: 100% 100%;
    transition: none;
    color: transparent;
    border-radius: 0;
}

.wapp-bar-tab .wapp-tab-item .wapp-bar-button-all {
    background: url('../images/04-alerts_files/selectall_selected.png') no-repeat;
}

.wapp-bar-button-select {
    background: url('../images/04-alerts_files/selectall_normal.png') no-repeat;
}

.wapp-bar-button-select:enabled:active {
    background: url('../images/04-alerts_files/selectall_selected.png') no-repeat;
}

.wapp-bar-button-read {
    background: url('../images/04-alerts_files/read_normal.png') no-repeat;
}

.wapp-bar-button-read:enabled:active {
    background: url('../images/04-alerts_files/read_selected.png') no-repeat;
}

.wapp-bar-button-delete {
    background: url('../images/04-alerts_files/delete_normal.png') no-repeat;
}

.wapp-bar-button-delete:enabled:active {
    background: url('../images/04-alerts_files/delete_selected.png') no-repeat;
}

.wapp-bar-button-export {
    background: url('../images/04-alerts_files/export_normal.png') no-repeat;
}

.wapp-bar-button-export:enabled:active {
    background: url('../images/04-alerts_files/export_selected.png') no-repeat;
}

.wapp-bar-button-share {
    background: url('../images/04-alerts_files/share_normal.png') no-repeat;
}

.wapp-bar-button-share:enabled:active {
    background: url('../images/04-alerts_files/share_selected.png') no-repeat;
}


/*底部工具条美化结束*/


/*高级配置侧边栏按钮美化开始*/

.wapp-side-btn-back {
    background: url('../images/return.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-selected .wapp-side-btn-addedit-select {
    background: url('../images/motionDetection/motion_draw_selected.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-side-btn-addedit {
    background: url('../images/motionDetection/motion_draw_normal.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-selected .wapp-side-btn-deledit-select {
    background: url('../images/motionDetection/motion_eraser_selected.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-side-btn-deledit {
    background: url('../images/motionDetection/motion_eraser_norma.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-side-btn-add:enabled:active {
    background: url('../images/motionDetection/add_selected.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-side-btn-add {
    background: url('../images/motionDetection/add_normal.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-selected .wapp-side-btn-ab-select {
    background: url('../images/motionDetection/cross_ab_selected.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-side-btn-ab {
    background: url('../images/motionDetection/cross_ab_normal.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-selected .wapp-side-btn-a-select {
    background: url('../images/motionDetection/cross_a_selected.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-side-btn-a {
    background: url('../images/motionDetection/cross_a_normal.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-selected .wapp-side-btn-b-select {
    background: url('../images/motionDetection/cross_b_selected.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-side-btn-b {
    background: url('../images/motionDetection/cross_b_normal.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-side-btn-del:enabled:active {
    background: url('../images/motionDetection/delete_selected.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-side-btn-del {
    background: url('../images/motionDetection/delete_normal.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-side-btn-commit:enabled:active {
    background: url('../images/motionDetection/checked.png') no-repeat;
    background-size: 100% 100%;
}

.wapp-side-btn-commit {
    background: url('../images/motionDetection/checked.png') no-repeat;
    background-size: 100% 100%;
}


/*高级配置侧边栏按钮美化结束*/

.wapp-bar-tab .wapp-tab-item.wapp-active {
    color: #B46BE9;
}

.wapp-icon.wapp-active,
.wapp-list-color.mui-active {
    color: #B46BE9;
}

.mui-switch-blue.mui-active,
.mui-control-item .mui-active {
    border: 2px solid #B46BE9;
    background-color: #B46BE9;
}

.mui-radio input[type='radio']:checked:before,
.mui-checkbox input[type='checkbox']:checked:before {
    color: #B46BE9;
}

.wapp-header {
    position: fixed;
    background-color: #211237;
    width: 100%;
    height: auto;
    overflow-y: auto;
    min-height: 25px;
    line-height: 25px;
    z-index: 10
}

.wapp-hide {
    display: none;
}

.wapp-goback {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    left: 30px;
    border-radius: 50%;
    background-color: #623582;
    color: #ffffff;
    z-index: 10;
}

.wapp-goback-low {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 5px;
    left: 30px;
    border-radius: 50%;
    background-color: #623582;
    color: #ffffff;
    z-index: 10;
}

.wapp-goback-high {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 50px;
    left: 30px;
    border-radius: 50%;
    background-color: #623582;
    color: #ffffff;
    z-index: 10;
}

.wapp-ok {
    height: 50px;
    width: 60%;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 25px;
    background-color: #623582;
    color: #FFFFFF;
}

.wapp-goedit {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 50%;
    background-color: #623582;
    color: #ffffff;
    z-index: 10;
}

.wapp-goedit-low {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 5px;
    right: 30px;
    border-radius: 50%;
    background-color: #623582;
    color: #ffffff;
    z-index: 10;
}

.wapp-goedit-high {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    border-radius: 50%;
    background-color: #623582;
    color: #ffffff;
    z-index: 10;
}

.wapp-red-color {
    color: #ff9933;
}

.wapp-white-color {
    color: #ffffff;
}

.wapp-black-color {
    background-color: #000000;
}

.wapp-toolbar-color {
    background-color: #211237;
}

.wapp-list-color {
    background: #211237;
    color: #f8f8f9;
}

.wapp-list-test-right {
    float: right;
}

.wapp-groundback-color {
    background-color: #180d28;
}

.wapp-no-margin-padding {
    margin: 0px !important;
    padding: 0px !important;
}

.wapp-no-margin-2-padding {
    margin: 0px !important;
    padding: 2px !important;
}

.wapp-no-margin {
    margin: 0px !important;
}

.wapp-no-padding {
    padding: 0px !important;
}

.wapp-2-padding {
    padding: 2px !important;
}

.wapp-over-btn-margin {
    margin-bottom: 60px;
}

.wapp-alarm-info {
    top: 26px;
    width: 100%;
    z-index: 5;
}

.wapp-alarm-check-btn {
    height: 25px;
    width: 25px;
    right: 15px;
    position: absolute;
    border-radius: 10px;
}

.wapp-alarm-video-btn,
.wapp-alarm-image-btn {
    height: 30px;
    width: 50px;
    position: absolute;
    right: 80px;
    bottom: 10px;
    border-radius: 25px;
    background: #4A2365;
    border: none;
    padding: 0px 10px;
}

.wapp-alarm-image-btn {
    right: 15px;
    padding: 2px 10px;
}

.wapp-alarm-video-btn img,
.wapp-alarm-image-btn img {
    width: 30px;
}

.wapp-alarm-image-btn img {
    width: 26px;
}

.mui-card {
    background: #211237;
    margin: 0;
    margin-top: 5px;
    border-top: 1px solid #4E356E;
}

.mui-card-header.mui-card-media {
    padding: 0;
}

.mui-card-header p {
    padding-left: 15px;
    height: 35px;
    line-height: 35px;
    background: #271542;
    margin-bottom: 0;
    font-size: 12px;
}

.mui-card-header p:first-child {
    background: #211237;
    height: 30px;
    line-height: 30px;
}

.mui-card-footer {
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.mui-card-header:after,
.mui-card-footer:before {
    height: 0px;
}

.mui-card-footer {
    border-bottom: 1px solid #4E356E;
}

.mui-table-view:after {
    background-color: #4E356E;
}

.wapp-image-size {
    width: 25% !important;
    height: 90px;
}

.wapp-image-size img {
    width: 100% !important;
    height: 100% !important;
}

.wapp-image-edit label.first {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 25%;
    height: 25%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../images/choose.png");
}

.wapp-image-select label.first {
    background-image: url("../images/checked_selected.png");
}

.wapp-image-size label.second {
    position: absolute;
    bottom: 8%;
    left: 5%;
    width: 20%;
    height: 18%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../images/02-playback_files/record.png");
}

.wapp-image-size p.first {
    position: absolute;
    text-align: right;
    bottom: 8%;
    right: 5%;
    width: 65%;
    height: 18%;
}

.wapp-default-width-height {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}


/*图片手势放大美化开始*/

.mui-preview-image.mui-fullscreen {
    position: fixed;
    z-index: 20;
    background-color: #000;
}

.mui-preview-header,
.mui-preview-footer {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
}

.mui-preview-header {
    height: 44px;
    top: 0;
}

.mui-preview-footer {
    height: 50px;
    bottom: 0px;
}

.mui-indicator {
    position: absolute;
    height: 44px;
    width: 100%;
    left: 0;
    bottom: 80px;
    z-index: 10;
}

.mui-indicator .mui-preview-indicator {
    display: block;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin: 15px auto;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 16px;
}

.mui-preview-image {
    display: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.mui-preview-image.mui-preview-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.mui-preview-image.mui-preview-out {
    background: none;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
    display: none;
}

.mui-zoom-scroller {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    bottom: 90px;
    width: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden;
}

.mui-zoom {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
    height: auto;
    max-width: 100%;
    bottom: 90px;
}

.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
    display: inline-table;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
    display: table-cell;
    vertical-align: middle;
}

.mui-preview-loading {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 90px;
    left: 0;
    display: none;
}

.mui-preview-loading.mui-active {
    display: block;
}

.mui-preview-loading .mui-spinner-white {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
}

.mui-preview-image img.mui-transitioning {
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*图片手势放大美化结束*/