* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 700px;
}

header,footer {
    border: 1px solid #333;
    background: #aaa;
    text-align: center;
}

.left,
.right,
.middle {
    position: relative;
    float: left;
    min-height: 130px;
}

.container {
    overflow: hidden;
    padding: 0 220px 0 220px;
}

.left {
    width: 220px;
    background: red;
    margin-left: -100%;
    left: -220px;
}

.right {
    width: 220px;
    background: green;
    margin-left: -220px;
    right: -220px;
}

.middle {
    width: 100%;
    background: blue;
}