* {
    margin: 0;
    padding: 0;
}

li {
    box-sizing: border-box;
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid black;
}

ul {
    list-style: none;
    width: 200px;
    height: 200px;
}