* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 700px;
    /* 在缩放浏览器窗口时，给body一个最小的width */
    /* 这样在缩小到700px时，页面布局不会再进行缩放 */
    /* 而是直接进行裁剪，免得布局错乱 */
}

header,footer {
    border: 1px solid #333;
    background: #aaa;
    text-align: center;
}

.left,
.right,
.middle {
    position: relative;
    float: left;
    /* 三个元素都是设置浮动才能通过负边距浮上来 */
    min-height: 130px;
}

.container {
    overflow: hidden;
     /* 父元素触发BFC，使得父元素不用设置高度也能包含浮动元素 */
    padding: 0 220px 0 220px;
}

.left {
    width: 220px;
    background: red;
    margin-left: -100%;
    left: -220px;
}

.right {
    width: 220px;
    background: green;
    margin-left: -220px;
    right: -220px;
}

.middle {
    width: 100%;
    background: blue;
}