* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 600px;
}

.header {
    display: flex;
    background-color: red;
}

.content {
    position: relative;
    height: 50px;
    width: 1200px;
    margin: auto;
    font-size: 18px;
    line-height: 50px;
    background-color: green;
}

.location {
    position: absolute;
    left: 0;
    height: 50px;
}

.list {
    position: absolute;
    display: flex;
    right: 0;
    height: 50px;
}

.item {
    min-width: 40px;
    margin-right: 10px;
}

